.button {
  height: 5vh;
  width: 40vh;
  padding: 0 5vh 0 5vh;
  background-color: #910a67;
  border: 1px solid #910a67;
  border-radius: 8px;
  color: #030637;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 550;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 8px #910a6750;
}

/* Modo Claro */

:global(body.tema-claro) .button {
  background-color: #3c0753;
  border: 1px solid #3c0753;
  color: #c4d4e7;
}

/* Responsividade */
@media (max-width: 1024px) {
  .button {
    width: 20vh;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 1.5vh;
  }
}
