.button {
  background-color: #910a67;
  border: 1px solid #910a67;
  border-radius: 90%;
  margin-left: 10px;
  display: flex;
  height: 7vh;
  width: 8vh;
  color: #030637;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.button img {
  width: 60%;
  height: auto;
  display: block;
  align-self: center;
}

.button:hover {
  transform: scale(1.02);
}

/* Modo Claro */

:global(body.tema-claro) .button {
  background-color: #3c0753;
  border: 1px solid #3c0753;
  color: #000000;
}
